@import "../styles/common.scss";
// @import "~bootstrap/scss/bootstrap";

._app {
    // background-color: $background-color-app;
    a {
        text-decoration: none;
        background-color: transparent;
    }

    .icon {
        color: white;
    }
    .page-container {
        margin-left: 4rem;
        margin-right: 4rem;
        @media screen and (min-width: 1149.99px) {
            margin-left: 9rem;
            margin-right: 9rem;
        }
        @media screen and (min-width: 1199.99px) {
            margin: 0 8rem;
        }
        @media screen and (min-width: 1399.99px) {
            margin-left: 12rem;
            margin-right: 12rem;
        }
    }
}

._noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@media screen and (max-width: 1000px) {
    .btn {
        font-size: 90%;
    }
}

@media screen and (max-width: 1245px) {
    html {
        font-size: 90%;
    }
}

@media screen and (max-width: 1125px) {
    html {
        font-size: 85%;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 70%;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 60%;
    }
}
