@import "../../../share-variables";
._about {
    padding: 2rem 0;
    ._about-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .content {
        flex: 1 45%;
    }
    .content-left {
        .content-title {
            font-size: 1.3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        iframe {
            min-width: 80%;
            height: 18rem;
        }
    }
    @media screen and (max-width: $screen-xmd) {
        .content {
            flex: 0 1 100%;
        }
        .content-left {
            iframe {
                width: 100%;
                height: 30rem;
            }
        }
    }
}
