._hand-book {
    ._hand-book-slider {
        .item {
            display: flex !important;
            flex-wrap: wrap;
            .slider-img {
                height: 150px;
                flex-basis: 50%;
                background-size: cover cover;
                background-repeat: no-repeat;
            }
            .item-child1 {
                flex-basis: 50%;
                font-weight: bold;
                margin-top: 0rem;
                padding-left: 1rem;
                font-size: 1.2rem;
            }
        }
    }
}
