._outstanding-doctor {
    ._outstanding-doctor-slider {
        .slick-slide > div {
            padding: 10px;
        }
        .item {
            border: 1px solid rgba(94, 88, 88, 0.212) !important;
            text-align: center;
            padding: 10px;
            &:hover {
                .item-child2 {
                    color: black;
                }
            }
        }
        .slider-img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            margin: auto;
            overflow: hidden;
        }
    }
}
