@import "./variables";
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $colormain;
    text-transform: uppercase;
    font-weight: bold;
}
button {
    padding: 0.375rem 1rem;
    text-align: center;
    background-color: $colormain;
    color: white;
    border: none;
    border-radius: 5px;
    &:hover {
        opacity: 0.7;
    }
}
button ~ button {
    margin-left: 1rem;
}

ul {
    list-style-type: none;
}

.c-pointer {
    cursor: pointer;
}

.react-confirm-alert-overlay {
    z-index: 11111 !important;
    animation: react-confirm-alert-fadeIn 0.05s 0.05s forwards !important;

    h1 {
        font-size: 1.25rem;
    }

    .react-confirm-alert-button-group {
        justify-content: flex-end;

        button:last-of-type {
            background-color: #1a79b8;
            border-color: #1a79b8;
            color: #fff;
        }

        .invoice-check-button {
            margin-right: 107px;
            background-color: #28a745;
            border-color: #28a745;
            color: #fff;
        }
    }
}

input::placeholder {
    text-align: left;
}
