.flag {
    display: flex;
    align-items: center;
    gap: 0 0.5rem;
    .flag-icon {
        cursor: pointer;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }
    .active {
        opacity: 1;
    }
}
